GITEA_INSTANCE_INSECURE=1
GITEA_RUNNER_REGISTRATION_TOKEN=x6MgZJqknr6bvUKSZQnIiSjqXF68ECzfF0oDifXe
GITEA_INSTANCE_URL=http://host.docker.internal:3000
GITEA_RUNNER_NAME=docker_act_runner
GITEA_RUNNER_LABELS=ubuntu-latest:docker://telackey/act:ubuntu-22.04,ubuntu-22.04:docker://telackey/act:ubuntu-22.04
